@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/setup';
@import 'partials/movieApp';
@import 'partials/searchForm';
@import 'partials/movie';
@import 'partials/movieExpanded';


button {
    box-shadow: $secondaryBoxShadow;

    &:hover {
        box-shadow: none;
        transform: scale(0.95,0.95);
    }
}




