.movieApp {
    /* overflow: hidden; */

}

.movieApp__headerContainer {
    position: fixed;
    top: 0;

    width: 100%;
    padding: 10px;
    border: 2px solid yellow;

    z-index: $zFront;
}

.movieApp__headerContainer--resultsFromPick {
    display: flex;
    align-items: center;
}

.movieApp__headerContainer--movieInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movieApp__resultsContainer {
    border: 2px solid red;

    padding-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    &.movieApp__resultsContainer--movieInfo {
        padding-top: 0;
    }
}


.movieApp__movieTitle {
    display: block;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 100%;
    text-align: center;

    font-size: 8rem;    
    color: white;
    text-transform: uppercase;
    letter-spacing: 1rem;
    /* background-color: rgba(255, 255, 255, 0.75); */
    /* box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75); */
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    
}

.movieApp__newSearchBtn {
    display: block;
    // position: absolute;
    // right: 0;

    height: 4rem;

    border: 0;
    border-radius: 2px;
    background-color: $goColor;
    color: $goTextColor;
    
    font-size: 1.5rem;
}

.movieApp__ToResultsFromPickBtn {
    height: 4rem;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;

    background-color: $stopColor;
    color: $stopTextColor;
}

.movieApp__languageMenu {
    display: block;
    -webkit-appearance: none;

    // position: absolute;
    // left: 50%;
    // transform: translate(-50%,0%);

    width: 60%;
    height: 4rem;
    padding: 8px;
    margin: 0 auto;
    
    border: none;
    border-radius: 2px;
    box-shadow: $baseBoxShadow;
    
    font-size: 1.5rem;

    &:focus {
        outline: none;
        box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    }
}

.movieApp__movieBackdrop {
    position: relative;
    height: 100vh;
    min-height: 100vh;

    z-index: $zBack;

    overflow: hidden; /* to scale img differently */
}

.movieApp__movieBackdrop img {
    position: absolute;
    top: 0;
    /* width: 200%; */
}

.movieApp__movieBackdrop--landscape img {
    left: -25%;
    max-width: 200%;
    
}

.movieApp__movieBackdrop--portrait img {
    right: -20%;
    height: 100vh;
    
}