.movie--expanded {
    flex-direction: row;

    width: 100%;
    margin: 0;
    padding: 10px;
    box-shadow: $baseBoxShadow;
    border-radius: 0;

    background-color: $cardExpandedColorBg;

    &:hover {
        background-color: $cardExpandedColorBg;
        transform: none;
    }

    & .movie__header {
        justify-content: flex-start;
        width: 33.33%;
    }

    & .movie__section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: calc(100% - 33.33%);
        padding-left: 100px;
    }

    & .movie__title {
        font-size: 3rem;

        overflow: unset;
        text-overflow: unset;
        white-space: unset;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    & .movie__summary {
        font-size: 1.5rem;
    }

    & .movie__rating {
        font-size: 2rem;
    }
}
