.movieApp {
    /* overflow: hidden; */

}

.movieApp__headerContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    // width: 100%;
    max-width: $maxContainerWidth;
    margin: 0 auto;
    padding: 10px;
    // border: 2px solid yellow;

    z-index: $zFront;
}

.movieApp__headerContainer--resultsFromPick {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond-to("small") {
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;

        padding-top: 0;
        padding-bottom: 0;
    }
}

.movieApp__headerContainer--movieInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;

}



.movieApp__resultsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    max-width: $maxContainerWidth;
    margin: 0 auto;
    padding-top: 150px;
    // border: 2px solid red;


    @include respond-to("small") {
        padding-top: 150px;
    }

    &.movieApp__resultsContainer--movieInfo {
        padding-top: 0;

        position: absolute;
        // bottom: -100%; //For full header.
        bottom: -72%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;

        @include respond-to("large") {
            position: relative;
            top: 0;
            left: 0;
            transform: none;
            
        }
    }

    &.movieApp__resultsContainer--resultsFromPick
    {
       @include respond-to("small") {
           padding-top: 225px;
       }
   }
}

.movieApp__searchMessage {
    font-size: 2rem;
    font-family: $textFont;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
    background-color: $cardExpandedColorBg;
    padding: 10px;
    border-radius: 2px;
    box-shadow: $baseBoxShadow;    
}

.movieApp__movieTitle {
    display: block;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 100%;
    text-align: center;

    font-size: 8rem;    
    color: white;
    text-transform: uppercase;
    letter-spacing: 1rem;
    word-wrap: unset;
    /* background-color: rgba(255, 255, 255, 0.75); */
    /* box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75); */
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);

    @include respond-to("large") {
        font-size: 5rem;
    }

    @include respond-to("medium") {
        font-size: 4.5rem;
    }
    
    @include respond-to("small") {
        font-size: 3.2rem;
        letter-spacing: 0.5rem;
    }
}

.movieApp__newSearchBtn {
    display: block;
    // position: absolute;
    // right: 0;

    height: 4rem;

    border: 0;
    border-radius: 2px;
    background-color: $goColor;
    color: $goTextColor;
    
    font-size: 1.5rem;
}

.movieApp__ToResultsFromPickBtn {
    height: 4rem;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;

    background-color: $stopColor;
    color: $stopTextColor;
}

.movieApp__languageMenuContainer {
    position: relative;
    width: 60%;

    @include respond-to("medium") {
        width: 40%;
    }

    @include respond-to("small") {
        width: 100%;
        margin: 10px 0px;
    }
}

.movieApp__languageMenuLabel {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50%;
    padding: 0;
    margin: 0;

    font-size: 1.5rem;
    
    @include respond-to("large") {
        font-size: 1.2rem;
    }

    @include respond-to("medium") {
        left: 75%;
    }
    
}

.movieApp__languageMenu {
    display: block;
    -webkit-appearance: none;

    // position: absolute;
    // left: 50%;
    // transform: translate(-50%,0%);

    width: 100%;
    
    height: 4rem;
    padding: 8px;
    margin: 0 auto;
    
    border: none;
    border-radius: 2px;
    box-shadow: $baseBoxShadow;
    
    font-size: 1.5rem;

    

    &:focus {
        outline: none;
        box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    }
}

.movieApp__movieBackdrop {
    position: relative;
    min-height: 200vh;
    // height: 200vh;

    z-index: $zBack;

    overflow: hidden; /* to scale img differently */

    @include respond-to("large") {
        height: 100vh;
        min-height: 100vh;
    }
}

.movieApp__movieBackdrop img {
    position: absolute;
    top: 0;
    /* width: 200%; */
}

.movieApp__movieBackdrop--landscape img {
    left: -25%;
    max-width: 300%;
    min-height: 200vh;
    height: 200vh;

    @include respond-to("large") {
        max-width: 200%;
        min-height: 100vh;
        height: 100vh;
    }
    
}

.movieApp__movieBackdrop--portrait img {
    right: -20%;
    height: 100vh;
    
}