.movie--expanded {
    flex-direction: row;

    width: 100%;
    margin: 0;
    padding: 10px;
    box-shadow: $baseBoxShadow;
    border-radius: 0;

    background-color: $cardExpandedColorBg;

    @include respond-to("small") {
        flex-direction: column;
        align-items: stretch;
    }


    &:hover {
        background-color: $cardExpandedColorBg;
        transform: none;
    }

    & .movie__header {
        justify-content: flex-start;
        width: 33.33%;

        @include respond-to("small") {
            width: 100%;
        }
    }

    & .movie__section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: calc(100% - 33.33%);
        padding-left: 100px;

        @include respond-to("medium") {
            padding-left: 40px;
        }

        @include respond-to("small") {
            padding: 20px 0;
            width: 100%;
        }
    }

    & .movie__title {
        font-size: 3rem;

        overflow: unset;
        text-overflow: unset;
        white-space: unset;
        margin: 0 auto;
        margin-bottom: 50px;

        @include respond-to("small") {
            margin-bottom: 25px;
        }

    }

    & .movie__summary {
        font-size: 1.5rem;

        @include respond-to("large") {
            margin-top: 0;
            
            white-space: unset;
            overflow: unset;
            text-overflow: unset;
        }
    }

    & .movie__rating {
        font-size: 2rem;
    }
}
