.movie {
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    justify-content: space-between;
    
    // align-items: center;

    width: 30%;
    height: 40rem;
    margin-bottom: 20px;
    padding: 15px 0px;
    border-radius: 2px;

    background-color: $cardExpandedColorBg;
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);

    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;

    @include respond-to("large") {
        height: auto;

    }

    @include respond-to("medium") {
        width: 46%;
    }

    @include respond-to("small") {
        width: 100%;
    }

    
    &:hover {
        background-color: $cardColorBg;
        transform: scale(1.02,1.02);
        box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.9);
        // z-index: $zMinus;
    }
    
}

.movie--selected {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 15%;
    height: 10rem;
    margin: 0;
    // border: 1px solid green;
    border-radius: 2px;

    background-color: transparent;
    box-shadow: none;

    @include respond-to("small") {
        margin: 0 auto;
        transform: scale(1.2,1.2);
    }

    &:hover {
        background-color: transparent;
        transform: none;

    }
    
    
    & .movie__title {
        // display: block;
        display: none;
        text-align: center;

        width: calc(90% - 8rem); /*height of movie__thumbnailContainer*/
        height: 8rem;
        margin: 0;
        padding: 0;

        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 2px;
        box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.75);
        
        font-size: 2rem;
    }

    & .movie__summary {
        display: none;
    }

    & .movie__thumbnailContainer {
        width: 7rem;
        height: 7rem;
        margin: 0 auto;

        border-radius: 100%;
        box-shadow: $baseBoxShadow;

        overflow: hidden;

        @include respond-to("small") {

            transform: scale(1.1,1.1);
        }
    }

    & .movie__thumbnail {
        display: block;
        position: relative;
        transform: translateY(-25%);

        width: 100%;
        // position: relative;
        // left: 50%;
        // transform: translate(-50%,0%);

        // clip-path: circle(30% at center);
        // margin: -55px auto; /*compensate for clipping*/

        // &::after {
        //     content: "";
        //     width: 100%;
        //     height: 100%
        // }
    }
}

.movie__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.movie__title {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;

    text-align: center;
    font-family: $titleFont;
    font-size: 2.5rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include respond-to("large") {
        font-size: 1.8rem;
    }

}

.movie__thumbnailContainer {
    @include respond-to("small") {
        width: 9rem;
        height: 9rem;
        margin: 0 auto;
        overflow: hidden;

        border-radius: 100%;
    }
}

.movie__thumbnail {
    display: block;
    margin: 0 auto;

    @include respond-to("small") {
        width: 100%;
    }
}

.movie__rating {
    display: none;
}

.movie__summary {
    width: 80%;
    margin: 0 auto;

    font-family: $textFont;
    font-size: 1.2rem;

    @include respond-to("large") {
        margin-top: 10px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.movie__summary--noOverflow {
    display:block; 
    
    // white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie__embeddedTrailerContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: $zFront;

    background-color: black;
}

.movie__embeddedTrailerCloseBtn {
    position: fixed;
    top: 10px;
    right: 10px;

    height: 4rem;
    padding: 0 30px;
    border: none;
    border-radius: 2px;

    background-color: $stopColor;
    color: $stopTextColor;

    font-size: 1.5rem;
}

.movie__watchTrailerBtn {
    width: 70%;
    margin: 0 auto;
    height: 4rem;
    border: none;
    border-radius: 2px;

    font-size: 1.5rem;

    background-color: $goColor;
    color: $goTextColor;

    &:hover {
        box-shadow: none;
    }

    @include respond-to("small") {
        margin-top: 30px;
    }
}