.searchForm {
    display: flex;

    width: 60%;
    margin: 0 auto;
    padding: 0;
    border-radius: 2px;
    
    overflow: hidden;

    box-shadow: $baseBoxShadow;
}

.searchForm__searchBar {
    height: 4rem;
    width: 80%;
    margin: 0;
    padding: 8px;
    border: none;
    border-radius: 0;
    
    font-family: $textFont;
    font-size: 1.5rem;

    &:focus {
        outline: none;
        box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    }
    
}

.searchForm__searchBtn {
    display: block;

    height: 4rem;
    width: 20%;
    margin: 0;
    border-radius: 0px;
    border: none;

    font-family: $textFont;
    font-size: 1.5rem;

    background-color: $goColor;
    color: $goTextColor;
}

.searchForm__searchBarLabel {
    @include hidden();
}