$titleFont: 'Muli', sans-serif;
$textFont: 'Lato', sans-serif;

$primaryBgColor: #A9A9A9;
$stopColor: #d10069;
$cautionColor: #d19d00;
$goColor: darkturquoise;
$goTextColor: white;
$cautionTextColor: black;
$stopTextColor: white;

$cardColorBg:white;
$cardExpandedColorBg: rgba(255, 255, 255, 0.75);
$cardBorderRadius: 5px;

$baseBoxShadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
$secondaryBoxShadow: 0px 0px 35px 0px rgba(0,0,0,0.3);

$zBack: -999999;
$zMinus: -10;
$zOne: 10;
$Ztwo: 20;
$zThree: 30;
$zFront: 9999999; 
