$titleFont: 'Muli', sans-serif;
$textFont: 'Lato', sans-serif;

$primaryBgColor: black;

$cardColorBg:white;
$cardExpandedColorBg: rgba(255, 255, 255, 0.75);
$cardBorderRadius: 5px;

$baseBoxShadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
