.movieApp__headerContainer {
    border: 2px solid yellow;
}

.movieApp__resultsContainer {
    border: 2px solid red;
}
.movie {
    border: 1px solid blue;
}

.movie--selected {
    border: 1px solid green;
}