@import url("https://fonts.googleapis.com/css?family=Lato|Muli");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  background-color: #A9A9A9; }
  body .body__background {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999999;
    height: 150%;
    min-width: 100%;
    min-height: 100%; }

p {
  padding: 0;
  margin: 0; }

ul {
  padding: 0;
  margin: 0; }

button {
  font-family: "Lato", sans-serif;
  -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.3); }
  button:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: scale(0.95, 0.95);
    -ms-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95); }

.movieApp {
  /* overflow: hidden; */ }

.movieApp__headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1080px;
  margin: 0 auto;
  padding: 10px;
  z-index: 9999999; }

.movieApp__headerContainer--resultsFromPick {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 480px) {
    .movieApp__headerContainer--resultsFromPick {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      padding-top: 0;
      padding-bottom: 0; } }

.movieApp__headerContainer--movieInfo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.movieApp__resultsContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 150px; }
  @media (max-width: 480px) {
    .movieApp__resultsContainer {
      padding-top: 150px; } }
  .movieApp__resultsContainer.movieApp__resultsContainer--movieInfo {
    padding-top: 0;
    position: absolute;
    bottom: -72%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%; }
    @media (max-width: 800px) {
      .movieApp__resultsContainer.movieApp__resultsContainer--movieInfo {
        position: relative;
        top: 0;
        left: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none; } }
  @media (max-width: 480px) {
    .movieApp__resultsContainer.movieApp__resultsContainer--resultsFromPick {
      padding-top: 225px; } }

.movieApp__searchMessage {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  text-shadow: 0px 0px 10px white;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.75); }

.movieApp__movieTitle {
  display: block;
  position: absolute;
  top: 50vh;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 8rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1rem;
  word-wrap: unset;
  /* background-color: rgba(255, 255, 255, 0.75); */
  /* box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75); */
  text-shadow: 0px 0px 10px black; }
  @media (max-width: 800px) {
    .movieApp__movieTitle {
      font-size: 5rem; } }
  @media (max-width: 600px) {
    .movieApp__movieTitle {
      font-size: 4.5rem; } }
  @media (max-width: 480px) {
    .movieApp__movieTitle {
      font-size: 3.2rem;
      letter-spacing: 0.5rem; } }

.movieApp__newSearchBtn {
  display: block;
  height: 4rem;
  border: 0;
  border-radius: 2px;
  background-color: darkturquoise;
  color: white;
  font-size: 1.5rem; }

.movieApp__ToResultsFromPickBtn {
  height: 4rem;
  border: none;
  border-radius: 2px;
  font-size: 1.5rem;
  background-color: #d10069;
  color: white; }

.movieApp__languageMenuContainer {
  position: relative;
  width: 60%; }
  @media (max-width: 600px) {
    .movieApp__languageMenuContainer {
      width: 40%; } }
  @media (max-width: 480px) {
    .movieApp__languageMenuContainer {
      width: 100%;
      margin: 10px 0px; } }

.movieApp__languageMenuLabel {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 0;
  margin: 0;
  font-size: 1.5rem; }
  @media (max-width: 800px) {
    .movieApp__languageMenuLabel {
      font-size: 1.2rem; } }
  @media (max-width: 600px) {
    .movieApp__languageMenuLabel {
      left: 75%; } }

.movieApp__languageMenu {
  display: block;
  -webkit-appearance: none;
  width: 100%;
  height: 4rem;
  padding: 8px;
  margin: 0 auto;
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.75);
  font-size: 1.5rem; }
  .movieApp__languageMenu:focus {
    outline: none;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.6); }

.movieApp__movieBackdrop {
  position: relative;
  min-height: 200vh;
  z-index: -999999;
  overflow: hidden;
  /* to scale img differently */ }
  @media (max-width: 800px) {
    .movieApp__movieBackdrop {
      height: 100vh;
      min-height: 100vh; } }

.movieApp__movieBackdrop img {
  position: absolute;
  top: 0;
  /* width: 200%; */ }

.movieApp__movieBackdrop--landscape img {
  left: -25%;
  max-width: 300%;
  min-height: 200vh;
  height: 200vh; }
  @media (max-width: 800px) {
    .movieApp__movieBackdrop--landscape img {
      max-width: 200%;
      min-height: 100vh;
      height: 100vh; } }

.movieApp__movieBackdrop--portrait img {
  right: -20%;
  height: 100vh; }

.searchForm {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin: 0 auto;
  padding: 0;
  border-radius: 2px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.75); }
  @media (max-width: 600px) {
    .searchForm {
      width: 80%; } }
  @media (max-width: 480px) {
    .searchForm {
      width: 100%; } }

.searchForm__searchBar {
  height: 4rem;
  width: 80%;
  margin: 0;
  padding: 8px;
  border: none;
  border-radius: 0;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem; }
  .searchForm__searchBar:focus {
    outline: none;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.6); }

.searchForm__searchBtn {
  display: block;
  height: 4rem;
  width: 20%;
  margin: 0;
  border-radius: 0px;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  background-color: darkturquoise;
  color: white; }

.searchForm__searchBarLabel {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.movie {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 30%;
  height: 40rem;
  margin-bottom: 20px;
  padding: 15px 0px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  @media (max-width: 800px) {
    .movie {
      height: auto; } }
  @media (max-width: 600px) {
    .movie {
      width: 46%; } }
  @media (max-width: 480px) {
    .movie {
      width: 100%; } }
  .movie:hover {
    background-color: white;
    -webkit-transform: scale(1.02, 1.02);
    -ms-transform: scale(1.02, 1.02);
    transform: scale(1.02, 1.02); }

.movie--selected {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 15%;
  height: 10rem;
  margin: 0;
  border-radius: 2px;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none; }
  @media (max-width: 480px) {
    .movie--selected {
      margin: 0 auto;
      -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
      transform: scale(1.2, 1.2); } }
  .movie--selected:hover {
    background-color: transparent;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; }
  .movie--selected .movie__title {
    display: none;
    text-align: center;
    width: calc(90% - 8rem);
    /*height of movie__thumbnailContainer*/
    height: 8rem;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.75);
    font-size: 2rem; }
  .movie--selected .movie__summary {
    display: none; }
  .movie--selected .movie__thumbnailContainer {
    width: 7rem;
    height: 7rem;
    margin: 0 auto;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.75);
    overflow: hidden; }
    @media (max-width: 480px) {
      .movie--selected .movie__thumbnailContainer {
        -webkit-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1); } }
  .movie--selected .movie__thumbnail {
    display: block;
    position: relative;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
    width: 100%; }

.movie__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.movie__title {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 15px;
  text-align: center;
  font-family: "Muli", sans-serif;
  font-size: 2.5rem;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }
  @media (max-width: 800px) {
    .movie__title {
      font-size: 1.8rem; } }

@media (max-width: 480px) {
  .movie__thumbnailContainer {
    width: 9rem;
    height: 9rem;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 100%; } }

.movie__thumbnail {
  display: block;
  margin: 0 auto; }
  @media (max-width: 480px) {
    .movie__thumbnail {
      width: 100%; } }

.movie__rating {
  display: none; }

.movie__summary {
  width: 80%;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem; }
  @media (max-width: 800px) {
    .movie__summary {
      margin-top: 10px;
      white-space: nowrap;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis; } }

.movie__summary--noOverflow {
  display: block;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.movie__embeddedTrailerContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999999;
  background-color: black; }

.movie__embeddedTrailerCloseBtn {
  position: fixed;
  top: 10px;
  right: 10px;
  height: 4rem;
  padding: 0 30px;
  border: none;
  border-radius: 2px;
  background-color: #d10069;
  color: white;
  font-size: 1.5rem; }

.movie__watchTrailerBtn {
  width: 70%;
  margin: 0 auto;
  height: 4rem;
  border: none;
  border-radius: 2px;
  font-size: 1.5rem;
  background-color: darkturquoise;
  color: white; }
  @media (max-width: 480px) {
    .movie__watchTrailerBtn {
      margin-top: 30px; } }

.movie--expanded {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.75);
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.75); }
  @media (max-width: 800px) {
    .movie--expanded {
      background-color: white; } }
  @media (max-width: 480px) {
    .movie--expanded {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch; } }
  .movie--expanded:hover {
    background-color: rgba(255, 255, 255, 0.75);
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; }
    @media (max-width: 800px) {
      .movie--expanded:hover {
        background-color: white; } }
  .movie--expanded .movie__header {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 33.33%; }
    @media (max-width: 480px) {
      .movie--expanded .movie__header {
        width: 100%; } }
  .movie--expanded .movie__section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: calc(100% - 33.33%);
    padding-left: 100px; }
    @media (max-width: 600px) {
      .movie--expanded .movie__section {
        padding-left: 40px; } }
    @media (max-width: 480px) {
      .movie--expanded .movie__section {
        padding: 20px 0;
        width: 100%; } }
  .movie--expanded .movie__title {
    font-size: 3rem;
    overflow: unset;
    -o-text-overflow: unset;
    text-overflow: unset;
    white-space: unset;
    margin: 0 auto;
    margin-bottom: 50px; }
    @media (max-width: 480px) {
      .movie--expanded .movie__title {
        margin-bottom: 25px; } }
  .movie--expanded .movie__summary {
    font-size: 1.5rem; }
    @media (max-width: 800px) {
      .movie--expanded .movie__summary {
        margin-top: 0;
        white-space: unset;
        overflow: unset;
        -o-text-overflow: unset;
        text-overflow: unset; } }
  .movie--expanded .movie__rating {
    font-size: 2rem; }

/*# sourceMappingURL=style.css.map */