body {
    /* overflow: hidden; */
}

.movieApp {
    /* overflow: hidden; */
}

.movieApp__headerContainer {
    border: 2px solid yellow;
}

.movieApp__resultsContainer {
    border: 2px solid red;
}


.movieApp__movieBackdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -99999;

    overflow: hidden; /* to scale img differently */
}

.movieApp__movieBackdrop img {
    position: absolute;
    top: 0;
    /* width: 200%; */
}

.movieApp__movieBackdrop--landscape img {
    left: 0;
    width: 200%;
    
}

.movieApp__movieBackdrop--portrait img {
    right: -10%;
    height: 100vh;
    
}

.movie {
    border: 1px solid blue;
}

.movie--selected {
    border: 1px solid green;
}

.movie__embeddedTrailerContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 999999;

    background-color: black;

}